In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
!pip install jsonlines

Collecting jsonlines
  Downloading https://files.pythonhosted.org/packages/d4/58/06f430ff7607a2929f80f07bfd820acbc508a4e977542fefcc522cde9dff/jsonlines-2.0.0-py3-none-any.whl
Installing collected packages: jsonlines
Successfully installed jsonlines-2.0.0

In [ ]:
import pandas as pd
import numpy
import jsonlines

In [ ]:
busi_df = pd.read_json('/content/drive/MyDrive/550proj/yelp_academic_dataset_business.json', lines = True)

In [ ]:
columns = ['business_id','name','address','city', 'state','postal_code', 'stars', 'review_count','categories','hours']
busi_df = busi_df[columns]

In [ ]:
busi_df.dropna(inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
rest_df = busi_df[busi_df['categories'].str.contains("Restaurant")].reset_index(drop = True)

In [ ]:
count_df = rest_df[['business_id','state']].groupby('state', as_index = True).count()

In [ ]:
count_df = count_df.rename(columns={'business_id':'count'}).sort_values(['count'], ascending=False)

In [ ]:
rest_df = rest_df[rest_df['state'] != 'BC']

In [ ]:
rest_df

                  business_id  ...                                              hours
0      6iYb2HFDywm3zjuRg0shjw  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1      tCbdrRPZA0oiIYSmHG3J0w  ...  {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
3      jFYIsSb7r1QeESVUnXPHBw  ...     {'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}
4      HPA_qyMEddpAEtFof02ixg  ...  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...
5      ufCxltuh56FF4-ZFZ6cVhg  ...  {'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18...
...                       ...  ...                                                ...
42899  r5Uag1JqYjr2nbxQCVqm8A  ...  {'Monday': '0:0-0:0', 'Tuesday': '10:30-21:30'...
42900  Zl6SUy6x9jqjRu2HbtEO6A  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
42901  Q78fYV6B6P6GmX07YVgi4g  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-21:0', '...
42902  uXdQkuEtvLAzfc3MsO-sTQ  ...  {'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...
42903  ngmLL5Y5OT-bYHKU0kKrYA  ...  {'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...

[36757 rows x 10 columns]

In [ ]:
rest_df.to_json('/content/drive/MyDrive/550proj/rest.json', orient= 'records', lines = True)

In [ ]:
busi_arr = rest_df.business_id.to_numpy()

In [ ]:
res_dict = {res:0 for res in busi_arr}

In [ ]:
res_dict

In [ ]:
toread = ["review_id","business_id","stars","date","text"]

In [ ]:

data = jsonlines.open('/content/drive/MyDrive/550proj/yelp_academic_dataset_review.json')

In [ ]:
import pandas as pd

In [ ]:
review_df = pd.DataFrame(columns=toread)

In [ ]:
i = 0
df_list = []
for line in data.iter():
  if line['business_id'] in busi_arr and res_dict[line['business_id']] < 10:
    i+=1
    res_dict[line['business_id']]+= 1
    df_list.append(pd.DataFrame([[line[c] for c in toread]], columns = toread))
    if i % 1000 == 0:
      print(len(df_list))

In [ ]:
see = pd.concat(df_list, ignore_index = True)

In [ ]:
see

                     review_id  ...                                               text
0       ucJWCf4EGNFPOT3sdGbKXw  ...  Best coffee in the entire town they have many ...
1       jXThcxVzWhCoQeq5CWQkHA  ...  Great experience and awesome chocolate. This p...
2       9nzK-JwtlMg-bVNqFJgB9w  ...  I don't know what happened....\n\nWhile they w...
3       l3KcXEz5YPMbU5bbWbEmqg  ...  The food is very good.  Had the chicken bbq, w...
4       ecFdaFR6EgPWxCozlhV5ag  ...  My partners favorite  sandwich place. He final...
...                        ...  ...                                                ...
347584  6u_llFrgxTABGTORvM75iA  ...  I'm really pleased we found The Orient. What a...
347585  vGywIKXwI230DoX_6mhjow  ...  Great place and Great Food.  Lots of TVs a ver...
347586  EOsfn26kV3Wnn7HYux76EQ  ...  Great location-fantastic crowd- amazing staff ...
347587  dQv7LDF-gLs-A9lSpB3wrw  ...  Bogo (buy one get one) Tuesday's is where you'...
347588  zqCnwmS0ii7KIAH18NeP0Q  ...  Wish there were more stars to give as these pe...

[347589 rows x 5 columns]

In [ ]:
see.to_json('/content/drive/MyDrive/550proj/reviews.json', orient = 'records', lines = True)

In [ ]:
new_d = jsonlines.open('reviews.json')

In [ ]:
see.head(10)

                review_id  ...                                               text
0  ucJWCf4EGNFPOT3sdGbKXw  ...  Best coffee in the entire town they have many ...
1  jXThcxVzWhCoQeq5CWQkHA  ...  Great experience and awesome chocolate. This p...
2  9nzK-JwtlMg-bVNqFJgB9w  ...  I don't know what happened....\n\nWhile they w...
3  l3KcXEz5YPMbU5bbWbEmqg  ...  The food is very good.  Had the chicken bbq, w...
4  ecFdaFR6EgPWxCozlhV5ag  ...  My partners favorite  sandwich place. He final...
5  6Sfmgu5jA7qIlXHGyxu49g  ...  Mondays is half price day, which is reason eno...
6  FLx1p18nO1AsTvIx2lX61w  ...  I recently ordered a birthday cake from Rosie'...
7  sqXh8UXuBjLSslthBJY10g  ...  The best!  Grew up on the South Shore and neve...
8  Kz2ZpzvykfXYTkS3Hrf4xg  ...  I came here after seeing the high yelp reviews...
9  id52jmQzE53UMVLwjRkq5A  ...  I'm looking to move to the neighbourhood so I'...

[10 rows x 5 columns]

In [ ]:
review_df.business_id.value_counts().head(20)

bZiIIUcpgxh8mpKMDhdqbA    1085
H_RM2u1WWGU1HkKZrYq2Ow     802
jREzLrIEkc4jQKLfYMJ0gg     549
oz882XuZCxajKo64Opgq_Q     497
v1UzkU8lEWdjxq8byWFOKg     468
Un6u2cECyV4nZb_HGZ-uTA     398
TA1KUSCu8GkWP9w0rmElxw     388
72PQGMhrEcIuWH-S44TprA     380
YZs1gNSh_sN8JmN_nrpxeA     362
4sfF1paqVfXvzAIdzs6MQg     341
S9NvWyHUPsuYK7ObMV43pA     334
XNrAtQFU4vl9NA8GTlNonA     330
KK-6rXbIo9B4-b_P5WO5Qg     327
pCNH6bRbyAR7vhaIKoFCxQ     321
VFvCFOYtyK9ae4Skxvf3vA     292
-_GnwXmzC3DXsHR9nyaC2g     286
oug5bLTWP_YTtj1C3_X6Xw     285
3cLBtLFiH8IRdlEy9S8RiQ     272
vecuat0jOia-CJveW3ngDw     267
6fF-nAA2AWTPYF2vlOzqtg     266
Name: business_id, dtype: int64

In [ ]:
tips_df = pd.read_json('/content/drive/MyDrive/550proj/yelp_academic_dataset_tip.json', lines = True)

In [ ]:
simpler = tips_df[tips_df.business_id.isin(res_dict)][['business_id','text','date','compliment_count']]

In [ ]:
simpler.dropna(inplace = True)

In [ ]:
simpler.reset_index(inplace = True,drop = True)

In [ ]:
simpler.reset_index(inplace = True)

In [ ]:
simpler

         index             business_id  ...                date compliment_count
0            0  ENwBByjpoa5Gg7tKgxqwLg  ... 2011-07-22 19:07:35                0
1            1  XWFjKtRGZ9khRGtGg2ZvaA  ... 2017-07-11 23:07:16                0
2            2  oQyf1788YWsiDLupGva6sw  ... 2015-06-09 14:35:57                0
3            3  OQ2oHkcWA8KNC1Lsvj1SBA  ... 2018-03-22 15:28:09                0
4            4  2fkTxtF59cYdktacQ6-axg  ... 2013-02-04 06:49:01                0
...        ...                     ...  ...                 ...              ...
714307  714307  OHIH7XaxoUU8j4F9ZfaPaA  ... 2019-08-21 19:07:14                0
714308  714308  _M-2ANKj4meexwp7VOqJcg  ... 2019-10-03 14:55:15                0
714309  714309  KRNrssbpE1AKo-48BIpdLw  ... 2019-10-13 02:55:32                0
714310  714310  C2kDo2CFGP_0073dgMmZNw  ... 2015-07-18 17:21:40                0
714311  714311  4CxF8c3MB7VAdY8zFb2cZQ  ... 2020-07-23 04:02:10                0

[714312 rows x 5 columns]

In [ ]:
simpler.to_json('/content/drive/MyDrive/550proj/tips.json', orient = 'records', lines = True)

In [ ]:
covid_df = pd.read_csv('/content/drive/MyDrive/550proj/us-counties-recent.csv')
covid_df.head(10)

         date    county    state    fips  cases  deaths
0  2021-03-08   Autauga  Alabama  1001.0   6364    92.0
1  2021-03-08   Baldwin  Alabama  1003.0  19942   289.0
2  2021-03-08   Barbour  Alabama  1005.0   2143    51.0
3  2021-03-08      Bibb  Alabama  1007.0   2464    58.0
4  2021-03-08    Blount  Alabama  1009.0   6256   128.0
5  2021-03-08   Bullock  Alabama  1011.0   1177    36.0
6  2021-03-08    Butler  Alabama  1013.0   2017    66.0
7  2021-03-08   Calhoun  Alabama  1015.0  13968   296.0
8  2021-03-08  Chambers  Alabama  1017.0   3434   111.0
9  2021-03-08  Cherokee  Alabama  1019.0   1783    40.0

In [ ]:
covid_df.shape

(94200, 6)

In [ ]:
covid_df.dropna(inplace = True)

In [ ]:
covid_df.to_json('/content/drive/MyDrive/550proj/covid.json', orient = 'records', lines = True)

In [ ]:
zipfip = jsonlines.open('/content/drive/MyDrive/550proj/zip2fips.json')

In [ ]:
for line in zipfip:
   pass
line

In [ ]:
line['42371']

'21149'

In [ ]:
zip_dict = {'zipcode':[], 'fips':[]}
for item in line.items():
  zip_dict['zipcode'].append(int(item[0]))
  zip_dict['fips'].append(int(item[1]))

In [ ]:
zipfip_df = pd.DataFrame(zip_dict)
zipfip_df

       zipcode   fips
0        70175  22071
1        11542  36059
2        11547  36059
3        11545  36059
4        11548  36059
...        ...    ...
41168    38342  47017
41169    38345  47077
41170    38344  47017
41171    38347  47023
41172    38346  47053

[41173 rows x 2 columns]

In [ ]:
zipfip_df.to_json('/content/drive/MyDrive/550proj/location.json', orient = 'records', lines = True)

In [ ]:
allrest_df = pd.read_json('/content/drive/MyDrive/550proj/rest.json', lines = True)
allrev_df = pd.read_json('/content/drive/MyDrive/550proj/reviews.json', lines = True)
alltips_df = pd.read_json('/content/drive/MyDrive/550proj/tips.json', lines = True)

In [ ]:
allrest_df

                  business_id  ...                                              hours
0      6iYb2HFDywm3zjuRg0shjw  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1      tCbdrRPZA0oiIYSmHG3J0w  ...  {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
2      jFYIsSb7r1QeESVUnXPHBw  ...     {'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}
3      HPA_qyMEddpAEtFof02ixg  ...  {'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...
4      ufCxltuh56FF4-ZFZ6cVhg  ...  {'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18...
...                       ...  ...                                                ...
36752  r5Uag1JqYjr2nbxQCVqm8A  ...  {'Monday': '0:0-0:0', 'Tuesday': '10:30-21:30'...
36753  Zl6SUy6x9jqjRu2HbtEO6A  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
36754  Q78fYV6B6P6GmX07YVgi4g  ...  {'Monday': '0:0-0:0', 'Tuesday': '9:0-21:0', '...
36755  uXdQkuEtvLAzfc3MsO-sTQ  ...  {'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...
36756  ngmLL5Y5OT-bYHKU0kKrYA  ...  {'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...

[36757 rows x 10 columns]

In [ ]:
allrest_df[['business_id','state']].groupby('state', as_index = True).count()

In [ ]:
topfive_state = allrest_df[allrest_df.state.isin(['MA','FL','GA','OR','TX'])]

In [ ]:
topfive_state

In [ ]:
def best_n(state, n, df):
  res = df[df['state'] == state].sort_values(by = 'stars', ascending = False, ignore_index = True).head(n)
  return res

In [ ]:
state_list = ['MA','FL','GA','OR','TX']

In [ ]:
fewer_rest = pd.concat([best_n(state, 1000, allrest_df) for state in state_list])

In [ ]:
fewer_rest.reset_index(drop = True, inplace = True)

In [ ]:
fewer_rest

                 business_id  ...                                              hours
0     NfVIsNF81mop3T-FW6zl4g  ...  {'Monday': '8:0-15:0', 'Tuesday': '8:0-15:0', ...
1     CJlyEqg6Yiy0B9NbhNG7Vw  ...  {'Monday': '8:0-13:0', 'Thursday': '8:0-13:0',...
2     yCZ-Jb0fA3Tsn4SAtVC5Kg  ...  {'Monday': '6:30-19:0', 'Tuesday': '6:30-19:0'...
3     X2iVJdDtvnrbxeqiJzLgog  ...  {'Monday': '11:30-15:0', 'Tuesday': '11:30-15:...
4     oYtyETagKxYInmoKdkGR7Q  ...  {'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...
...                      ...  ...                                                ...
4995  KIHoGUfCOLhBFQVSAN4QSg  ...  {'Monday': '0:0-0:0', 'Tuesday': '16:0-21:30',...
4996  tBCvtDOgNQfZrTGFZnsKqw  ...  {'Monday': '0:0-0:0', 'Wednesday': '12:0-15:0'...
4997  fZ17X_m2hr1F1hbp3HcZhQ  ...  {'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...
4998  R1PFUBw0lBCpFbsl-dh0lQ  ...  {'Monday': '7:30-15:30', 'Tuesday': '7:30-15:3...
4999  QmGqhWkdued9L98MP-jiPg  ...  {'Monday': '6:30-21:30', 'Tuesday': '6:30-21:3...

[5000 rows x 10 columns]

In [ ]:
fewer_rev = allrev_df[allrev_df.business_id.isin(fewer_rest.business_id)]
fewer_tips = alltips_df[alltips_df.business_id.isin(fewer_rest.business_id)]

In [ ]:
fewer_rev.reset_index(drop = True, inplace = True)

In [ ]:
newcolnames= ['tip_id']
newcolnames.extend(fewer_tips.columns[1:])
fewer_tips.columns = newcolnames
fewer_tips.reset_index(drop = True, inplace = True)

In [ ]:
fewer_tips.toj

       tip_id             business_id  ...                date compliment_count
59922  491444  vQ0ihvqI0Xpz8TxBIKK_qg  ... 2021-01-28 14:11:48                0
86756  673716  4YrYLgICcDzoTtmdg-YjYg  ... 2021-01-28 03:55:00                0
58713  484911  8sEbM_ACHUbBsZ-TRZFXWA  ... 2021-01-28 03:44:40                0
50796  418407  18KiQCczOWOfJSlbbb7_Fw  ... 2021-01-28 01:31:52                0
73186  578788  sRJ79RGt7a7V5ejrHtCA1A  ... 2021-01-27 23:22:04                0
...       ...                     ...  ...                 ...              ...
171      1511  2USXU4BeqG7MMa-qFILsDQ  ... 2009-04-24 15:37:51                0
37109  317617  ETdIFA1A-xY1_HOol2K78g  ... 2009-04-19 02:28:55                0
3148    30135  f4zeVunnSBiO_yGhXgcahA  ... 2009-04-18 22:40:39                0
4984    47467  u-4wti774tFcYRLuQrnHEg  ... 2009-04-18 18:46:46                0
1618    15460  Z2qMwUhnGt_2pA9uQbS7Uw  ... 2009-04-16 03:28:36                0

[92952 rows x 5 columns]

In [ ]:
fewer_rest.to_json('/content/drive/MyDrive/550proj/small_rest.json', orient = 'records', lines = True)
fewer_rev.to_json('/content/drive/MyDrive/550proj/small_rev.json', orient = 'records', lines = True)
fewer_tips.to_json('/content/drive/MyDrive/550proj/small_tips.json', orient = 'records', lines = True)

In [ ]:
fewer_rest = pd.read_json('/content/drive/MyDrive/550proj/small_rest.json', lines = True)
fewer_rev = pd.read_json('/content/drive/MyDrive/550proj/small_rev.json', lines = True)
fewer_tips = pd.read_json('/content/drive/MyDrive/550proj/small_tips.json', lines = True)
zipfip = pd.read_json('/content/drive/MyDrive/550proj/location.json', lines = True)
covid = pd.read_json('/content/drive/MyDrive/550proj/covid.json', lines = True)

In [ ]:
zipfip.shape

(41173, 2)

In [ ]:
zipfip.drop_duplicates(subset = ['zipcode'])

       zipcode   fips
0        70175  22071
1        11542  36059
2        11547  36059
3        11545  36059
4        11548  36059
...        ...    ...
41168    38342  47017
41169    38345  47077
41170    38344  47017
41171    38347  47023
41172    38346  47053

[41173 rows x 2 columns]

In [ ]:
fewer_rest.to_csv('/content/drive/MyDrive/550proj/small_rest.csv', index = False)

In [ ]:

fewer_rev.to_csv('/content/drive/MyDrive/550proj/small_rev.csv', index = False)
fewer_tips.to_csv('/content/drive/MyDrive/550proj/small_tips.csv', index = False)
zipfip.to_csv('/content/drive/MyDrive/550proj/location.csv', index = False)
covid.to_csv('/content/drive/MyDrive/550proj/covid2.csv', index = False)